$color-primary: rgb(11, 56, 255);
$color-secondary: #fd2f63;

$color-black: black;
$color-white: #FFF;
$color-antrazit: #212121;

$color-surface: #F5F5F5;

$color-text-selection: black;
$color-text-selection-background: rgb(255, 232, 24);